<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
    
    .name-alert,.success-alert,.upload-btn,.wait-alert,.error-alert,.services-container,.resources-table-container,.blood-group-container,.resource-count-container,.resource-alert{
        display: none;
    }

    .search-btn{
        margin-left: 15px;
    }
    
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
	<title>Admin Home</title>
</head>

<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <h2 class="text-center mb-5">Admin Home</h2>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <ul class="nav">
                            <li class="nav-item">
                              <a class="nav-link disabled" href="#" aria-current="page">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link ac" href="/admin/add-data" tabindex="-1" aria-disabled="true">Add Resources</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/updates" tabindex="-1" aria-disabled="true">Updates in Progress</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="/admin/logout" aria-current="page">Logout</a>
                            </li>
                        </ul>
                        <span class="anchor"></span>
                        <form action="/add-data" method="post" id="contribution-form">
                            <div class="card card-outline-secondary">
                                <div class="card-body">
                                    <hr>
                                    <div class="alert alert-primary name-alert" role="alert">
                                        Please enter your name
                                    </div>
                                    <div class="form-group row">
                                            <div class="col-lg-10">
                                                <br>
                                                <h6>Manage State Resources:</h6>
                                                <select name="states-select" class="selectpicker states-select" data-live-search="true">
                                                    {%for ix,state in state_names %}
                                                        <option data-tokens="{{state}}" value="{{ix}}">{{state}}</option>    
                                                    {%endfor%}                                                
                                                </select>
                                                
                                                <br>
                                            </div>
                                            </div>
                                        </div>
                                        
                                        <hr>
                                    <div class="form-group row">
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary search-btn" style="display: none;">
                                                View Resources
                                            </button>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

    
                </div>

            </div>
        </div>
        
    </div>


	<br>
	
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <script>
        $('.states-select').on('change', function() {
            state_id = this.value;
            
            $.ajax({
                type:"POST",
                url:'/get-city/'+state_id,
                data:{},
                success: function (response) {
                    $(".error-alert").hide();
                    $(".resources-table-container").hide();
                    $(".search-btn").show();
                    $(".services-container").show();
                    $(".district-container").html("");
                    $(".district-container").html("<h6>City:</h6>");
                    var $select = $('<select/>', {
                        'class':"selectpicker city-select",
                        "data-live-search":"true",
                        "name":"city-select"
                    });
                    for (var idx in response) {
                        $select.append('<option value=' + response[idx].id + '>' + response[idx].name + '</option>');
                    }
                    $select.appendTo('.district-container').selectpicker('refresh');
                },
                error: function () {
                    $(".error-alert").show();
                    $(".services-container").hide();
                }
            });

        });


        $(".search-btn").click(function(e){
            e.preventDefault();
            state_id = $(".states-select :selected").val();
			window.location.replace("/admin/view-resources/"+state_id);
        });
    </script>
</body>

</html>