<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
    
    .name-alert,.success-alert,.upload-btn,.wait-alert,.error-alert,.services-container,.resources-table-container,.blood-group-container,.resource-count-container,.resource-alert{
        display: none;
    }

    .search-btn{
        margin-left: 15px;
    }
    
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css" integrity="sha512-TQQ3J4WkE/rwojNFo6OJdyu6G8Xe9z8rMrlF9y7xpFbQfW5g8aSWcygCQ4vqRiJqFsDsE1T6MoAOMJkFXlrI9A==" crossorigin="anonymous" />
	<title>Add Covid-19 India Resources</title>
</head>

<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <h2 class="text-center mb-5">Add a Covid-19 Resource to the Portal</h2>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <ul class="nav">
                            {% if session['logged_in'] %}
                            <li class="nav-item">
                              <a class="nav-link active" href="/admin/home" aria-current="page">Home</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link active" href="/" aria-current="page">Home</a>
                              </li>
                            {% endif %}
                            <li class="nav-item">
                              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Add Resources</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/register-recipient" tabindex="-1" aria-disabled="true">Register as a Recipient</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/unsubscribe-recipient" tabindex="-1" aria-disabled="true">Unsubscribe as a Recipient</a>
                             </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/updates" tabindex="-1" aria-disabled="true">Updates in Progress</a>
                            </li>
                            {% if session['logged_in'] %}
                            <li class="nav-item">
                              <a class="nav-link active" href="/admin/logout" aria-current="page">Logout</a>
                            </li>
                            {% endif %}
                        </ul>
                        <span class="anchor"></span>
                        <form action="/add-data" method="post" id="contribution-form">
                            <div class="card card-outline-secondary">
                                <div class="card-body">
                                    <hr>
                                    <div class="form-group row">
                                            <div class="col-lg-10">
                                                <br>
                                                <h6>State:</h6>
                                                <select name="states-select" class="selectpicker states-select" data-live-search="true">
                                                    {%for ix,state in state_names %}
                                                        <option data-tokens="{{state}}" value="{{ix}}">{{state}}</option>    
                                                    {%endfor%}                                                
                                                </select>
                                                
                                                <br>
                                                <br>
                                                <br>
                                                <div class="district-container"></div>
    
                                                <br>
                                                <h6>Donor Name:</h6>
                                                <div class="form-outline">
                                                    <input type="text" id="donor-name" name="donor-name" class="form-control" />
                                                </div>
                                                
                                                <br>
                                                <h6>Donor Contact:</h6>
                                                <div class="form-outline">
                                                    <input type="text" id="donor-contact" name="donor-contact" class="form-control" />
                                                </div>

                                                <div class="info-container">
                                                    <br>
                                                    <h6>
                                                        Additional Contact/Resource Information if any:
                                                    </h6>
                                                    <div class="mb-3">
                                                        <textarea class="form-control" id="resource-info" name="resource-info" rows="3" placeholder="Eg. Oxygen available with beds, Call one day prior to ordering cylinders, Whatsapp only, etc."></textarea>
                                                    </div>
                                                </div>

                                                <br>
                                                <div class="services-container">
                                                    <h6>
                                                        Resource:
                                                    </h6>
                                                    {% for ix in range(1,services_indices|length) %}
                                                        <div class="form-check">
                                                            <input class="form-check-input service-radio" type="radio" name="service" id="{{services_indices[ix]}}-radio" value="{{ix}}">
                                                            <label class="form-check-label" for="{{services_indices[ix]}}-radio">
                                                                {%if ix == 2%}
                                                                    Plasma Donors
                                                                {%elif ix == 3%}
                                                                    Oxygen Cylinders
                                                                {%elif ix == 6%}
                                                                    Private Vehicle/Ambulance 
                                                                {%else%}
                                                                   {{services_indices[ix].replace("-"," ").title()}}
                                                                {%endif%}
                                                            </label>
                                                        </div>
                                                    {% endfor %}

                                                    <div class="blood-group-container">
                                                        <br>
                                                        <h6>
                                                            Blood Group:
                                                        </h6>
                                                        {% for group in blood_groups %}									
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="blood-group" id="{{group}}-radio" value="{{group}}">
                                                            <label class="form-check-label" for="{{group}}-radio">
                                                                {{group}}
                                                            </label>
                                                        </div>
                                                        {% endfor %} 
                                                    </div>
                                                    
                                                    <div class="resource-count-container">
                                                        <br>
                                                        <h6>
                                                            Resource Count:
                                                        </h6>
                                                        <input class="form-control" name="resource-count" type="number" id="resource-count" />
                                                    </div>
                                                    
                                                    <div class="address-container">
                                                        <br>
                                                        <h6>
                                                            Address:
                                                        </h6>
                                                        <div class="mb-3">
                                                            <textarea class="form-control" id="resource-address" name="resource-address" rows="3"></textarea>
                                                        </div>
                                                    </div>

                                                    <br>
                                                    <h6>
                                                        Is this Resource verified?
                                                    </h6>
                                                    {% for idx,ans in [(0,"No"),(1,"Yes")] %}									
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="verification-check" id="{{ans}}-radio" value="{{idx}}">
                                                        <label class="form-check-label" for="{{ans}}-radio">
                                                            {{ans}}
                                                        </label>
                                                    </div>
                                                    {% endfor %} 

                                                    <br>
                                                    <h6>
                                                        When was this last updated?
                                                    </h6>
                                                    {% for idx,ans in [(1,"Right Now"),(0,"On a specific date")] %}									
                                                        <div class="form-check">
                                                            <input class="form-check-input update-verification-check" type="radio" name="update-verification-check" id="{{ans.lower().replace(' ','-')}}-radio" value="{{idx}}">
                                                            <label class="form-check-label" for="{{ans.lower().replace(' ','-')}}-radio">
                                                                {{ans}}
                                                            </label>
                                                        </div>
                                                    {% endfor %} 
                                                    <br>
                                                    <div class="date-picker-control" style="display: none;" >
                                                        <h6>Select Date:</h6>
                                                        <input type="text" name="last-updated" class="form-control" data-date-end-date="0d">
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        
                                        <hr>
                                    <div class="form-group row">
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary search-btn" style="display: none;">
                                                Add Resource
                                            </button>
    
                                            <br>
                                            <br>
                                            <div class="alert alert-secondary resource-alert" role="alert">
                                                Please select a resource to add.
                                            </div>

                                            <div class="alert alert-light wait-alert" role="alert">
                                                Submitting..
                                            </div>
                                            
                                            <div class="alert alert-light success-alert" role="alert">
                                                Your record has been submitted. Thank you for your contribution❤️
                                            </div>

                                            <div class="alert alert-secondary error-alert" role="alert">
                                                There was an error ☹️.
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

    
                </div>

            </div>
        </div>
        
    </div>


    <br>
    <br>
    <br>
  
    {% include 'footer.html' %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $('.date-picker-control input').datepicker({
            format: 'dd-mm-yyyy',
            'update': ''
        });

        $('.update-verification-check').on('change', function() {
            update_check = this.value;
            if(update_check == 0){
                $(".date-picker-control").show();
            }
            else{
                $(".date-picker-control").hide();
                $('.date-picker-control input').datepicker('update', '');
            }
        });

        $('.states-select').on('change', function() {
            state_id = this.value;
            
            $.ajax({
                type:"POST",
                url:'/get-city/'+state_id,
                data:{},
                success: function (response) {
                    $(".error-alert").hide();
                    $(".resources-table-container").hide();
                    $(".search-btn").show();
                    $(".services-container").show();
                    $(".district-container").html("");
                    $(".district-container").html("<h6>City/District:</h6>");
                    var $select = $('<select/>', {
                        'class':"selectpicker city-select",
                        "data-live-search":"true",
                        "name":"city-select"
                    });
                    for (var idx in response) {
                        $select.append('<option value=' + response[idx].id + '>' + response[idx].name + '</option>');
                    }
                    $select.appendTo('.district-container').selectpicker('refresh');
                },
                error: function () {
                    $(".error-alert").show();
                    $(".services-container").hide();
                }
            });

        });

        $('.service-radio').on('change', function() {
            service_value = this.value;
            if(service_value == 2){
                $(".blood-group-container").show();
            }
            else{
                $(".blood-group-container").hide();
            }

            if(service_value != 4){
                $(".resource-count-container").show();
            }
            else{
                $(".resource-count-container").hide();
            }

        });

        $(".search-btn").click(function(e){
            e.preventDefault();
            donor_name = $("#donor-name").val();
            donor_contact = $("#donor-contact").val();
            service_value = $(".service-radio:checked").val();
            $(".resource-alert").hide();
            $(".success-alert").hide();
            $(".error-alert").hide();
            var resources_list = [];
            var form_data = $("#contribution-form").serializeArray().reduce(function(a, x) { a[x.name] = x.value; return a; }, {});
            if(donor_name != "" && donor_contact != "" && service_value)
            {
                $(".wait-alert").show();
                $.ajax({
                        type:"POST",
                        url:'/add-data',
                        'contentType': 'application/json',
                        'data': JSON.stringify({
                            "data":form_data
                        }),
                        'processData': false,
                        success: function (response) {
                            $(".resource-alert").hide();
                            $(".success-alert").show();
                            $(".wait-alert").hide();
                            if($("input:radio[name=blood-group]:checked").length > 0){
                                $("input:radio[name=blood-group]:checked")[0].checked = false;
                            }
                            if($("input:radio[name=verification-check]:checked").length > 0){
                                $("input:radio[name=verification-check]:checked")[0].checked = false;
                            }
                            if($("input:radio[name=update-verification-check]:checked").length > 0){
                                $("input:radio[name=update-verification-check]:checked")[0].checked = false;
                            }
                            $(".date-picker-control").hide();
                            $('.date-picker-control input').datepicker('update', '');
                            $(".service-radio:checked")[0].checked = false;
                            $("#donor-name").val("");
                            $("#donor-contact").val("");
                            $("#resource-count").val("");
                            $("#resource-address").val("");
                            $("#resource-info").val("");
                            $(".resources-table").show();
                            $(".error-alert").hide();
                        },
                        error: function () {
                            $(".wait-alert").hide();
                            $(".resource-alert").hide();
                            $(".error-alert").show();
                        }
                });
            } 
            else{
                $(".resource-alert").html("Please fill these fields: Name, Contact and Resource.").show();
            }
            
        });
    </script>
</body>

</html>