<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
    
    .name-alert,.success-alert,.upload-btn,.wait-alert,.error-alert,.services-container,.resources-table-container,.resource-count-container,.resource-alert{
        display: none;
    }

    .search-btn{
        margin-left: 15px;
    }
    
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css" integrity="sha512-TQQ3J4WkE/rwojNFo6OJdyu6G8Xe9z8rMrlF9y7xpFbQfW5g8aSWcygCQ4vqRiJqFsDsE1T6MoAOMJkFXlrI9A==" crossorigin="anonymous" />
	<title>Update Resource</title>
</head>

<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <h2 class="text-center mb-5">
                    {% if session['logged_in'] %}
                        Update Resource
                    {%else%}
                        Request Update in Resource
                    {%endif%}
                </h2>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <ul class="nav">
                            {% if session['logged_in'] %}
                            <li class="nav-item">
                              <a class="nav-link active" href="/admin/home" aria-current="page">Home</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link active" href="/" aria-current="page">Home</a>
                              </li>
                            {% endif %}
                            {% if session['logged_in'] %}
                            <li class="nav-item">
                              <a class="nav-link active" href="/admin/add-data" tabindex="-1" aria-disabled="true">Update Resources</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link active" href="/add-data" aria-current="page">Add Resources</a>
                              </li>
                            {% endif %}
                            {% if not session['logged_in'] %}
                            <li class="nav-item">
                                <a class="nav-link active" href="/register-recipient" tabindex="-1" aria-disabled="true">Register as a Recipient</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link active" href="/updates" tabindex="-1" aria-disabled="true">Updates in Progress</a>
                            </li>
                            {% if session['logged_in'] %}
                            <li class="nav-item">
                              <a class="nav-link active" href="/admin/logout" aria-current="page">Logout</a>
                            </li>
                            {% endif %}
                        </ul>
                        <span class="anchor"></span>
                        {% if session['logged_in'] %}
                            <form action="/admin/manage-resource/{{responses['resource_id']}}" method="post" id="contribution-form">
                        {% else %}
                            <form action="/manage-resource/{{responses['resource_id']}}" method="post" id="contribution-form">
                        {% endif %}
                            <div class="card card-outline-secondary">
                                <div class="card-body">
                                    <hr>
                                    <div class="form-group row">
                                            <div class="col-lg-10">
                                                <br>
                                                <h6>{{responses["resource_name"] }} - {{responses["location"]}}:</h6>
  
                                                <div class="district-container"></div>
    
                                                <br>
                                                <h6>Donor Name:</h6>
                                                <div class="form-outline">
                                                    <input type="text" id="donor-name" value="{{responses['name']}}" name="donor-name" class="form-control" />
                                                </div>
                                                
                                                <br>
                                                <h6>Donor Contact:</h6>
                                                <div class="form-outline">
                                                    <input type="text" id="donor-contact" name="donor-contact" value="{{responses['contact']}}" class="form-control" />
                                                </div>
                                                <div class="info-container">
                                                    <br>
                                                    <h6>
                                                        Additional Contact/Resource Information if any:
                                                    </h6>
                                                    <div class="mb-3">
                                                        <textarea class="form-control" id="resource-info" name="resource-info" rows="3" placeholder="Eg. Oxygen available with beds, Call one day prior to ordering cylinders, Whatsapp only, etc.">{{responses['additional_information']}}</textarea>
                                                    </div>
                                                </div>
                                                <br>
                                                <h6>
                                                    Resource Count:
                                                </h6>
                                                <input class="form-control" name="resource-count" value="{{responses['count']}}" type="number" id="resource-count" />
                                                <div class="address-container">
                                                    <br>
                                                    <h6>
                                                        Address:
                                                    </h6>
                                                    <div class="mb-3">
                                                        <textarea class="form-control" id="resource-address" name="resource-address" rows="3">{{responses['address']}}</textarea>
                                                    </div>
                                                </div>
                                                <br>
                                                <h6>
                                                    Is this Resource verified?
                                                </h6>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="verification-check" id="no-radio" value="0" {%if not responses.verified %}checked{%endif%}>
                                                    <label class="form-check-label" for="no-radio">
                                                        No
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="verification-check" id="yes-radio" value="1" {%if responses.verified %}checked{%endif%}>
                                                    <label class="form-check-label" for="yes-radio">
                                                        Yes
                                                    </label>
                                                </div>
                                                {% if responses.get("blood_group") %}
                                                    <div class="blood-group-container">
                                                        <br>
                                                        <h6>
                                                            Blood Group:
                                                        </h6>
                                                        {% for group in blood_groups %}									
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="blood-group" id="{{group}}-radio" value="{{group}}">
                                                            <label class="form-check-label" for="{{group}}-radio">
                                                                {{group}}
                                                            </label>
                                                        </div>
                                                        {% endfor %} 
                                                    </div>
                                                {% endif %}
                                                <br>
                                                <h6>
                                                    Is this still available?
                                                </h6>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="available-check" id="available-no-radio" value="0" {%if not responses.available %}checked{%endif%}>
                                                    <label class="form-check-label" for="available-no-radio">
                                                        No
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="available-check" id="available-yes-radio" value="1" {%if responses.available %}checked{%endif%}>
                                                    <label class="form-check-label" for="available-yes-radio">
                                                        Yes
                                                    </label>
                                                </div>
                                                {% if session['logged_in'] %}
                                                    <br>
                                                    <h6>
                                                        Approve admin access?
                                                    </h6>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="admin-verification-check" id="admin-verification-no-radio" value="0" {%if not responses.is_approved_by_admin %}checked{%endif%}>
                                                        <label class="form-check-label" for="admin-verification-no-radio">
                                                            No
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="admin-verification-check" id="admin-verification-yes-radio" value="1" {%if responses.is_approved_by_admin %}checked{%endif%}>
                                                        <label class="form-check-label" for="admin-verification-yes-radio">
                                                            Yes
                                                        </label>
                                                    </div>
                                                {% endif %}

                                                <br>
                                                <h6>
                                                    Last Updated:
                                                </h6>
                                                <div class="date-picker-control">
                                                    <input type="text" name="last-updated" {%if responses.get('last_updated') %} value='{{responses["last_updated"]}}' {%endif%} class="form-control" data-date-end-date="0d">
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        
                                        <hr>
                                    <div class="form-group row">
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary search-btn">
                                                Update Resource
                                            </button>
    
                                            <br>
                                            <br>
                                            <div class="alert alert-secondary resource-alert" role="alert">
                                                Please select a resource to add.
                                            </div>

                                            <div class="alert alert-light wait-alert" role="alert">
                                                Submitting..
                                            </div>
                                            
                                            <div class="alert alert-light success-alert" role="alert">
                                                Your record has been submitted. Thank you for your contribution❤️
                                            </div>

                                            <div class="alert alert-secondary error-alert" role="alert">
                                                There was an error ☹️.
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

    
                </div>

            </div>
        </div>
        
    </div>


    <br>
    <br>
    <br>
   
    {% include 'footer.html' %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <script>
        {% if responses.get("blood_group") %}
        $(document).ready(function(){
            $("input:radio[name=blood-group]")[{{responses["blood_group_index"]}}].checked = true;
        });
        {% endif %}

        $('.date-picker-control input').datepicker({
            format: 'dd-mm-yyyy',
            'update': ''
        });

        $(".search-btn").click(function(e){
            e.preventDefault();
            donor_name = $("#donor-name").val();
            donor_contact = $("#donor-contact").val();
            $(".wait-alert").show();
            var resources_list = [];
            var form_data = $("#contribution-form").serializeArray().reduce(function(a, x) { a[x.name] = x.value; return a; }, {});
            if(donor_name != "" && donor_contact != "")
            {
                $.ajax({
                            type:"POST",
                            url:$("#contribution-form")[0].action,
                            'contentType': 'application/json',
                            'data': JSON.stringify({
                                "data":form_data
                            }),
                            'processData': false,
                            success: function (response) {
                                $(".resource-alert").hide();
                                $(".success-alert").show();
                                $(".wait-alert").hide();
                                $(".resources-table").show();
                                $(".error-alert").hide();
                            },
                            error: function () {
                                $(".resource-alert").hide();
                                $(".error-alert").show();
                            }
                });
            } 
            else{
                $(".resource-alert").html("Please enter Name, Contact and a Resource.").show();
            }
            
        });
    </script>
</body>

</html>